/build/esp32.esp32.esp32doit-devkit-v1/test_i2c_scanner.ino.bootloader.bin
/build/esp32.esp32.esp32doit-devkit-v1/test_i2c_scanner.ino.merged.bin
/build/esp32.esp32.esp32doit-devkit-v1/test_i2c_scanner.ino.partitions.bin
/build/esp32.esp32.esp32doit-devkit-v1/test_i2c_scanner.ino.elf
/build/esp32.esp32.esp32doit-devkit-v1/test_i2c_scanner.ino.map
